{#json}
	<li class='ui-li-has-thumb'>
		<a href='{href}' class='ui-link-inherit' data-transition='{transition}'>
			<img src='{art}' class='ui-li-thumb album-art-img' />
			<h3 class='ui-li-heading album-name-heading'>{name}</h3>
		</a>
	</li>
{/json}
