{#json}
    <li>
        <a href='{href}' data-transition='{transition}'>{name}
            <span class='ui-li-count ui-btn-up-{theme_buttons} ui-btn-corner-all'>{count_bubble_value}</span>
        </a>
    </li>
{/json}