{#json}
    <li id='{id}' style='position:relative;' data-theme='{theme_buttons}' data-playlist-track-index='{index}' data-playlist-track-file='{file}' class='ui-li-has-thumb ui-btn ui-btn-icon-right'>
        <a href='{href}' data-rel='popup'>
            <img src='{Art}' class='ui-li-thumb track-item-image' />
            <h3 class='track-title-heading ui-li-heading'>{Track} - {Title}</h3>
            <p class='ui-li-aside ui-li-desc'>{length}</p>
        </a>
		<a href='' data-icon='move' class='{theme_icon_class} ui-li-link-alt ui-btn ui-btn-up-{theme_buttons} move' data-theme='{theme_buttons}' title='{anchorTitle}'>{Title}</a>
	</li>
{/json}
