{#json}
    <li class='ui-li-has-thumb' data-icon='plus'>
        <a href='' onclick='post = { "parameters" : [ { "file" : "{file}" } ] }; control_mpd( "add", post.parameters[0] );' class='ui-link-inherit' title='{title}'>
            <img src='{art}' class='ui-li-thumb track-item-image' />
            <h3 class='track-title-heading ui-li-heading'>{name}</h3>
            <p class='ui-li-aside ui-li-desc'>{length}</p>
        </a>
    </li>
{/json}