.ui-icon-repeat, .ui-icon-previous, .ui-icon-play, .ui-icon-pause,
.ui-icon-next, .ui-icon-shuffle {
	background-image: url(images/player_icons.png);
}

.ui-icon-alt .ui-icon-repeat, .ui-icon-alt .ui-icon-previous, .ui-icon-alt .ui-icon-play, .ui-icon-alt .ui-icon-pause,
.ui-icon-alt .ui-icon-next, .ui-icon-alt .ui-icon-shuffle {
	background-image: url(images/player_icons-alt.png);
}

.ui-icon-repeat {
	background-position: -248px -33px;
}
.ui-icon-previous {
	background-position: -14px -17px;
}
.ui-icon-play {
	background-position: -60px -9px;
}
.ui-icon-pause {
	background-position: -121px -9px;
}
.ui-icon-next {
	background-position: -185px -17px;
}
.ui-icon-shuffle {
	background-position: -283px -33px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {

	.ui-icon-repeat, .ui-icon-previous, .ui-icon-play, .ui-icon-pause,
	.ui-icon-next, .ui-icon-shuffle {
		background-image: url(images/player_icons_hd.png);
		-moz-background-size: 350px 81px;
		-o-background-size: 350px 81px;
		-webkit-background-size: 350px 81px;
		background-size: 350px 81px;
	}
	.ui-icon-alt .ui-icon-repeat, .ui-icon-alt .ui-icon-previous, .ui-icon-alt .ui-icon-play, .ui-icon-alt .ui-icon-pause,
	.ui-icon-alt .ui-icon-next, .ui-icon-alt .ui-icon-shuffle {
		background-image: url(player_icons_hd-alt.png);
	}
	.ui-icon-repeat {
		background-position: -248px -33px;
	}
	.ui-icon-previous {
		background-position: -14px -17px;
	}
	.ui-icon-play {
		background-position: -60px -9px;
	}
	.ui-icon-pause {
		background-position: -121px -9px;
	}
	.ui-icon-next {
		background-position: -185px -17px;
	}
	.ui-icon-shuffle {
		background-position: -283px -33px;
	}
}


.button48 {

	width:54px;
	height:54px;

	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	/* top, right, bottom, left */
	padding: 1px 1px 1px 2px;
}

.button48 .ui-icon-previous, .button48 .ui-icon-next {

	width:48px;
	height:48px;

	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;	
}

.button64 {

	width:70px;
	height:68px;

	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;

	padding: 2px 1px 4px 1px;
}

.button64 .ui-icon-play, .button64 .ui-icon-pause {

	width:64px;
	height:64px;

	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

.controls {
	display: inline;
	width: 100%;
}

.controls .ui-btn-icon-notext {
	margin: 0.5em 2px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}